.nav {
  background-color: #236282 !important;
}

.chat-header {
  height: 45px;
  display: block;
  background: #236282;
  cursor: pointer;
}
.chat-header h4 {
  padding-left: 1em;
  color: #fff;
  line-height: 0px !important;
}

.chat-window .chat-body {
  height: calc(450px - (45px + 70px));
}

.message-container {
  width: 100%;
  position: relative;
  height: 100%;
  overflow-x: hidden;
}

.message {
  height: auto;
  width: auto;
  display: flex;
}

.message-content {
  width: auto;
  height: auto;
  background-color: #43a047;
  border-radius: 5px;
  color: white;
  padding: 7px;
}
.message-container button {
  position: sticky;
  bottom: 0;
  color: green;
  left: 0;
}

#you {
  justify-content: flex-end;
}

#other {
  justify-content: flex-start;
}
#you .message-content {
  justify-content: flex-end;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#other .message-content {
  justify-content: flex-end;
  background-color: cornflowerblue;
  justify-content: flex-start;
}

#other .message-meta {
  margin-right: 5px;
}
.message-meta {
  width: 100%;
  display: flex;
}
.message-meta p {
  font-size: 12px;
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-footer {
  height: 40px;
  border: 2px solid #607d8b;
  display: flex;
}
.input {
  height: 100%;
  flex: 90%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px solid #607d8b;
  outline: none;
  font-family: "Open Sans", sans-serif;
}

.send-button {
  flex: 10%;
  height: 100% !important;
  background: whitesmoke;
  color: #236282;
}
.go-back:hover {
  background-color: aliceblue !important;
}
